body{
    background-color: #252423;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
}

main {
    margin: auto;
    width: 50vw;
    min-width: 500px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header titre */
.box__title{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.box__title__primary{
    color: white;
    font-size: 50px;
}

.box__title__secondary {
    color: #B6B5B4;
    font-size: 35px;
}

/*Animation forms */

.box__animation{
    height: 60%;
    border: 1px solid #B6B5B4;
    position: relative;
    overflow: hidden;
}

.box__animation__contour{
    background-color: red;
    position: absolute;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.contour-bas{
    width: 20%;
    height: 2px;
    bottom: -1px;
    left: 0;
    animation-name: contourBottom;
    animation-delay: 1s;
}

.contour-gauche{
    width: 2px;
    height: 20%;
    top: -1px;
    left: 0;
    animation-name: contourLeft;
    animation-delay: 2s;
}

.contour-droit{
    width: 2px;
    height: 20%;
    top: -1px;
    right: 0;
    animation-name: contourRight;
    animation-delay: 3s;
}

.contour-haut{
    width: 20%;
    height: 2px;
    top: -1px;
    left: 0;
    animation-name: contourTop;
    animation-delay: 4s;
}

@keyframes contourRight {
    from{
        opacity: 0.2;
        transform: translateY(500%);
    }
    to{
        transform: translateY(-100%);
    }
}

@keyframes contourLeft {
    from{
        opacity: 0.2;
        transform: translateY(-100%);
    }
    to{
        transform: translateY(500%);
    }
}

@keyframes contourBottom {
    from{
        opacity: 0.2;
        transform: translateX(-100%);
    }
    to{
        transform: translateX(500%);
    }
}

@keyframes contourTop {
    from{
        opacity: 0.2;
        transform: translateX(500%);
    }
    to{
        transform: translateX(-100%);
    }
}

/* footer box */

.box__footer {
    font-weight: lighter;
    color: white;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 20px
}

.box__footer__properties, .box__footer__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    height: 70%;
}

.box__footer__properties{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 15px;
}

.box__footer__text p {
    font-family: 'Courier Prime', monospace;
    line-height: 30px;
}

.lineProperty{
    height: 2px;
    width: 100%;
    background-color: #51504F;
}

.lineProperty2{
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.squareOfFooter{
    width: 10px;
    height: 10px;
    background-color: white;
    animation-name: squareOfFooter;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.squareOfFooter2{
    animation-delay: 0.2s;
}
.squareOfFooter3{
    animation-delay: 0.3s;
}
.squareOfFooter4{
    animation-delay: 0.4s;
}
.squareOfFooter5{
    animation-delay: 0.5s;
}
.squareOfFooter6{
    animation-delay: 0.6s;
}
.squareOfFooter7{
    animation-delay: 0.7s;
}
.squareOfFooter8{
    animation-delay: 0.8s;
}

.animateLine {
    width: 30%;
    height: 100%;
    background-color: white;
}

.translateXline{
    width: 20%;
    animation-name: translateXline;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.scaleLine {
    margin: auto;
    animation-name: scaleLine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.circleOfFooter{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px dotted white;
}

@keyframes translateXline {
    50%{
        transform: translateX(400%);
    }
}

@keyframes squareOfFooter {
    50%{
        transform: translateY(180%);
    }
}

@keyframes scaleLine {
    50%{
        width: 100%;
    }
}

.line{
    position: absolute;
    width: 1px;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

a{
    color: #e94a4d;
    text-decoration: none;
    transition-duration: 1s;
}

a:hover {
    color: #ff5b5e;
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.497);
    transform: translateX(30px);
}